* {
    min-height: 0;
    min-width: 0;
}
html {
    background: url(bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    overflow-x: hidden;
    font-size: 16px;
}
.row {
    display: flex;
    justify-content: space-evenly;
}
.city-box {
    padding: 2rem;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.98);
    border-radius: 6px;
}
.container-fluid {
    width: 100%;
}
.content {
    padding: 20px;
    margin: auto;
    width: 90%;
}
h1 {
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.98);
    text-align: center;
    padding: 1rem;
}
